//Author:Bryan, Date:31/7/2014
.label-towrite{
    font-size:14px;
    font-family: verdana;
    font-weight:normal;
}
.ddown-sin-select{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
   /* box-shadow: 0 0 10px #E8E8E8 inset;*/
    height: 24px;
    /*margin: 0 0 0 25px;
    padding: 10px;*/
    width: 250px;
}
.tarea-towrite{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0;
    height:auto;
    width: 350px;
    padding-left: 10px;
}
.tbox-towrite{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:24px; 
    width: 250px; 
    padding-left: 10px;
}
.tbox-towrite:focus{
    outline:none;
    border:1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
.tbox-readonly{
    /*-webkit-border-radius: 5px; 
    //-moz-border-radius: 5px; 
    //border-radius: 5px;
    outline:0; 
    height:24px; 
    width: 250px;
    background-color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;*/
 
    padding: 1px 20px; 
    border: 0; 
    height:24px; 
    width: 255px; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
    -webkit-background-clip: padding-box; 
    outline:0; 

}
.bton-sbt {
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle !important;
    background-color: #d9d9d9;
    border: 1px transparent solid;
    color: #222222;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: auto;
   /*height:28px;
   width:auto;
   border-top: 1px solid #5e7482;
   background: #b8bdbf;
   background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#b8bdbf));
   background: -webkit-linear-gradient(top, #d9d9d9, #b8bdbf);
   background: -moz-linear-gradient(top, #d9d9d9, #b8bdbf);
   background: -ms-linear-gradient(top, #d9d9d9, #b8bdbf);
   background: -o-linear-gradient(top, #d9d9d9, #b8bdbf);
  // padding: 6px 12px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   //-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   //-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  // box-shadow: rgba(0,0,0,1) 0 1px 0;
   //text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: verdana;
   text-decoration: none;
   vertical-align: middle;*/
}
.bton-sbt:hover {
   border-top-color: #9fa8ad;
   background: #9fa8ad;
   color: #ffffff;
}
.bton-sbt:active {
   border-top-color: #dce3e8;
   background: #dce3e8;
 }