
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    /* height:100%;
     background: #C0C0C0;
     font-family: Arial, Helvetica, sans-serif; 
     font-size:14px;
     min-height: 100%; 
     height:100%;*/
    margin: 0;
    padding:0;
    font:14px/18px Calibri, Arial, Helvetica, sans-serif;
    color:#424242;
    background-color:#e6e6e8; 
    background-size:100%;
    height:100%;
}

/*body {
        /*background: #34495e;*/
/*background: #C0C0C0;*/
/*}*/
.container{

    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:#fff;
    height:1%; 
    min-height:100%; 
    margin:0 auto;
    margin-top: 60px;
    overflow: hidden;
    /*display: inline-block;*/
    /*overflow-y: hidden;*/ /* HIDE overflow; I know, it doesn't make much sense */
    /*position: relative;*/
}

.content{ 
    width: 100%; 
    height:auto!important;
    min-height:90vh; 
    /* margin:0 0 10px 34px; */
    margin:0 auto;
    padding:0 0 10px 23px;               
    background-color:#fff;
    font:14px/18px Arial, Helvetica, sans-serif;
    padding-top: 20px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;


}



.SubContent
{
    width: 98%; 
    height: auto;
    -webkit-box-shadow: 2px 2px 2px 2px #C2C2C2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #C2C2C2;
    padding-bottom: 12px;


}

.SubContentHeader
{
    margin-left: 30px;font:14px/18px Arial, Helvetica, sans-serif; 
    color: #5f6f81; 
    font-weight: bold; 
    text-decoration: none; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #000040; 

}

a:link, a:visited {text-decoration: none;}



.footer{border-top:1px solid #c1c4c6; height:30px; padding:0 20px; font-size:10px; line-height:28px; width: 97%; background-color:#e6e6e8; margin-left: 32px;}
.footer ul {padding: 0; margin: 0;}
.footer ul li{display: inline; list-style: none; float: left; padding:0 10px;}
.footer .copyright{float:right;}
.footer .sublink, .footer .sublink a{color:#858585;}
.footer a{color:#424242;}
.footer a:hover{color:#ff3300;}

h1{font-size:18px; color:#ff7e00; font-weight:normal;}
/*h2{font-size:13px; font-weight:bold; padding:0 0 3px 0; margin:0; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight:normal;}*/
/*h3{font-size:25px; padding:0 0 3px 0; margin:0; text-transform: capitalize; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight: bold;}*/
/*h4{font-size:11px; font-weight:bold; margin:0; font-family:Arial, Helvetica, sans-serif; color: #feaa14;}*/
/*h5{font-size:12px; font-weight:bold; padding:0 0 3px 0; margin:0; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin-left: 10px;}*/
h2{font-size:16px; font-weight:bold; padding:0 0 3px 0; margin:0; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight:normal;}
h3{font-size:25px; padding:0 0 3px 0; padding-top: 12px; margin:0; text-transform: capitalize; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight: bold;}
h4{font-size:14px; font-weight:bold; margin:0; font-family:Arial, Helvetica, sans-serif; color: #feaa14;}
h5{font-size:12px; font-weight:bold; padding:0 0 3px 0; margin:0; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin-left: 10px;}

.title{ width: 100%; height:47px;  background-color: #5f6f81; color: #fff; padding-left: 20px;}

.clear{clear: both;}







.orange {
    padding: 7px 25px;
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


.button {
    font-family: Arial, Helvetica, sans-serif;
    /*color: #010305 !important;*/
    color: #ffffff !important;
    font-size: 12px;
    text-shadow: 1px 1px 0px #878787;
    box-shadow: 1px 1px 1px #474747;
    padding: 5px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #3C3C3C;  
    background: #101010;
    background: linear-gradient(top,  #1F1F1F,  #525354);
    background: -ms-linear-gradient(top,  #1F1F1F,  #525354);
    background: -webkit-gradient(linear, left top, left bottom, from(#1F1F1F), to(#525354));
    background: -moz-linear-gradient(top,  #1F1F1F,  #525354);
    /*
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    border: 1px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(top,  #63B8EE,  #468CCF);
    background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
    background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);*/
}
.button:hover {
    color: #ffffff !important;
    background: #666666;
    background: linear-gradient(top,  #7D7D7D,  #A1A1A1);
    background: -ms-linear-gradient(top,  #7D7D7D,  #A1A1A1);
    background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#A1A1A1));
    background: -moz-linear-gradient(top,  #7D7D7D,  #A1A1A1);
    /*  
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
    */
}

.ddown {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    /* box-shadow: 0 0 10px #E8E8E8 inset;*/
    height: 25px;
    /*margin: 0 0 0 25px;
    padding: 10px;*/
    width: 220px;
}

.tbox
{
    border:1px solid #b3b3b3;
    /*background:#dddddd;*/
    width:220px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    border-radius:25px;
    -moz-border-radius:25px; 
    /*-moz-box-shadow:    1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
     box-shadow:         1px 2px 2px 2px #ccc;*/
}

.tboxreadonly {
    border          : none;
    background      : transparent;
    readonly        : true;
    font-family: Arial, Helvetica, sans-serif; 
    /*font-weight: bold;*/
    font-size: 14px;
    Width: 90%;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: inherit;
    display: inline-block;

}



.fieldset{
    border: none;
    padding: 4px;
}


.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: inherit;
    display: inline-block;
    width: 100%;
}

/*
.container > header,
.codrops-top {
        color: #fff;
        font-family: 'Lato', Arial, sans-serif;
}

.container > header {
        margin: 0 auto;
        padding: 12em 2em;
        padding-left: 370px;
        background: rgba(0,0,0,0.05);
}

.container > header a {
        color: #566473;
        text-decoration: none;
        outline: none;
}

.container > header a:hover {
        color: #4f7bab;
}

.container > header h1 {
        font-size: 3.2em;
        line-height: 1.3;
        margin: 0;
        font-weight: 300;
}

.container > header span {
        display: block;
        font-size: 55%;
        color: #74818e;
        padding: 0 0 0.6em 0.1em;
}
*/
/* To Navigation Style */
.codrops-top {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.95);
    color: #333;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
    padding-top: 1em;
    font-size: 0.9em;
}

.codrops-demos a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    border: 3px solid #b1aea6;
    color: #b1aea6;
    font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    border-color: #89867e;
    color: #89867e;
}

@media screen and (max-width: 1025px) {
    .container > header {
        margin: 0 auto;
        padding: 120px 50px;
        font-size: 70%;
        text-align: right;
    }
}

@media screen and (max-width: 740px) {

    .codrops-icon span {
        display: none;
    }

}

#grid {
    width: 90%;
    height: 600px;
    background: #e5ecf3;
    Font-Family: Verdana;    
    position: relative;
    z-index:9998;

}

.dgHeaderStyle 
{
    background-image:url(../images/menu_bar.png);
    background-repeat:repeat-x;
    font-weight: bold; 
    border-color:#000000;
    border-width: 1px;  
    Font-Family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

